.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}

.icon-link {
    margin: 1rem 0;
    display: flex;
    font-size: 2.5rem;
    color: #fff;
    border-radius: 3rem;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--textLink);
    transition: background .3s ease-in-out;


    &:before {
        top: 0;
        left: 0;
        content: ' ';
        position: absolute;
        border-radius: 3rem;
        width: 4rem;
        height: 4rem;
        background: #1a0a3f;
        z-index: -1;
        background: -webkit-gradient(linear, left top, right top, from(#83b6d3), color-stop(50%, #484acc), to(#1a0a3f));
        background: linear-gradient(to right, #83b6d3 0%, #484acc 50%, #1a0a3f 100%);

     
    }

    &:hover {
        background: transparent;

        // transform: scale(1.1);
        h1 {
            opacity: 1;
        }
    }

}